.pamphlet-content {
  position: absolute;
  transform: rotate(-2deg);
  top: 20px;
  bottom: 242px;
  inset-inline: 0px;
  max-width: 350px;
  margin: 0px auto;

  @media screen and (min-width: 640px) {
    top: 36px;
    bottom: 212px;
    max-width: 1270px;
  }
}

.pamphlet-content-clockwise {
  position: absolute;
  transform: rotate(1.92deg);
  top: 28px;
  bottom: 48px;
  inset-inline: 0px;
  max-width: 310px;
  margin: 0px auto;

  @media screen and (min-width: 640px) {
    transform: rotate(3.57deg);
    top: 96px;
    bottom: 96px;
    max-width: 1100px;
  }
}

.pamphlet-table {
  @apply text-left;

  thead {
    @apply bg-neutral-gray border border-neutral-gray;
  }

  th {
    @apply text-body text-neutral-white font-normal p-2;
  }

  td {
    @apply p-2 border border-neutral-gray;
  }
}
